.footer {


   background-color: #0099ff;
   font-size: 15px;
   margin-top: 20%;
   // padding-left: 37%;
}


.footerText{

   padding-left: 81%;
   text-align: center;
   align-content: center;
   float: right;
      background-color: #0099ff;

      font-size: 15px;



}
